%p#notice= notice
%h1
  Miyaoの家計簿
%table
  %thead
    %tr
      -# %th{:colspan => "3"}
  -#記述した項目の一覧表示
  -# %tbody
  -#   - @incomes.each do |income|
  -#     %tr
  -#       %td= income.name
  -#       %td= income.start_time.strftime("%Y-%m-%d %H:%M")
  -#       %td= link_to 'Show', income
  -#       %td= link_to 'Edit', edit_income_path(income.id)
  -#       %td= link_to 'Destroy',income_path(income.id), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to '記録', new_income_path

//カレンダーのひにち全体にリンクを貼りたい。どこがひにち全体の箇所なのか不明
=month_calendar events: @incomes do |date, incomes|
  =link_to "#" do
    = date.day
  - incomes.each do |income|
    %div
      = link_to income.name,"#"
      = income.money
      %span 円
