%p#notice= notice
%h1
  Miyaoの家計簿
%table
  %thead
    %tr
      -# %th{:colspan => "3"}
  %tbody
    - @incomes.each do |income|
      %tr
        %td= income.title
        %td= income.start_time.strftime("%Y-%m-%d %H:%M")
        %td= link_to 'Show', income
        %td= link_to 'Edit', edit_income_path(income.id)
        %td= link_to 'Destroy',income_path(income.id), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to '記録', new_income_path
= month_calendar events: @incomes do |date, incomes|
  = date.day
  - incomes.each do |income|
    %div
      = link_to income.title, income
