%p#notice= notice
%p
  %strong タイトル
  = @income.name
%p
  %strong 時間
  = @income.start_time.strftime("%Y-%m-%d %H:%M")
%p
  %strong 金額
  = @income.money
= link_to 'Edit', edit_income_path(@income)
|
= link_to 'Back', root_path
